[{
  "relation": ["delegate_permission/common.handle_all_urls", "delegate_permission/common.get_login_creds"],
  "target": {
    "namespace": "web",
    "site": "https://webauthn-codelab-resolution.glitch.me"
  }
},
{
  "relation": ["delegate_permission/common.handle_all_urls", "delegate_permission/common.get_login_creds"],
  "target": {
    "namespace": "android_app",
    "package_name": "ccom.example.android.fido2",
    "sha256_cert_fingerprints": [
      "96:F7:5D:60:79:DB:73:F4:D3:FB:94:12:8A:D9:43:16:EE:ED:E4:8F:D6:87:B7:F6:EB:7B:81:FD:AB:EC:92:E7"
    ]
  }
}]