<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js"></script>
  </head>
  <body>
    <header>
      <h1>
        WebAuthn codelab
      </h1>
    </header>

    <main>
      <h2>
        Welcome, {{id}}!
      </h2>
      <h3>
        Your registered credential:
      </h3>
      <ul id="list">
      </ul>
      <h3>
        Your registered public key credential:
      </h3>
      <form id="form" method="POST" action="/auth/putKey" >
        Dummy text credential: <input type="text" name="credential" value="" />
        <input type="submit" value="Register a new key" />
      </form>
      <p>
        <a href="/signout">Sign out</a>
      </p>
    </main>
    <script type="module">
      import { html, render } from "https://unpkg.com/lit-html@1.0.0/lit-html.js?module";

      const getCredential = () => {
        _fetch('/auth/getKey').then(res => {
          const list = document.querySelector('#list');
          const li = html`${res && res.credential ?
            html`<li>${res.credential}
              <button id="${res.credential}" @click=${removeCredential}>Remove</button>
            </li>` :
            html`<li>None: 
              <button @click=${makeCredential}>Register a new credential</button>
            </li>`
          }`
          render(li, list);
        });
      }
      const makeCredential = e => {
        return;
      };
      const removeCredential = e => {
        return _fetch('/auth/removeKey')
        .then(e => {
          getCredential();
        })
        .catch(e => {
          if (e) {
            alert(e.error);
          } else {
            alert('Unkown error.');
          }
        });
      };
      const form = document.querySelector('#form');
      form.addEventListener('submit', e => {
        e.preventDefault();
        _fetch('/auth/putKey', new FormData(e.target))
        .then(res => {
          getCredential();
        })
        .catch(e => {
          if (e) {
            alert(e.error);
          } else {
            alert('Unkown error.');
          }
        });        
      });
      getCredential();
    </script>
  </body>
</html>
