    <div id="help">
      <div class="help-headline">
        Sign-in
      </div>
      <div class="help-content">

        Use your passkey to sign in using [passkeys form
        autofill](https://developers.google.com/identity/passkeys/use-cases#passkey-autofill-suggestions-in-form-fields).

        If you haven't created a passkey yet, sign in with a username and
        password if you haven't created a passkey yet. You can use a random
        username, no account creation is needed. Once you are signed in, create
        a new passkey and sign out to come back here.

        ### Sign in with a passkey

        To sign in, place your cursor on the username field. You'll notice the
        autofill dialog contains your passkeys in addition to passwords. Select
        the passkey you want to sign in with, and perform [user
        verification](https://web.dev/articles/webauthn-user-verification) when
        prompted.

        To try [one-button sign-in
        experience](https://developers.google.com/identity/passkeys/use-cases#sign-in-with-a-passkey-button),
        press **Use a one-button sign-in instead** button.

        ### Learn more

        Learn how to build passkeys form autofill experience at [Sign in with a
        passkey through form
        autofill](https://web.dev/articles/passkey-form-autofill) and
        [Server-side passkey
        authentication](https://developers.google.com/identity/passkeys/developer-guides/server-authentication).

        You can also learn through a codelab: [Implement passkeys with form autofill in a web app](https://goo.gle/passkeys-codelab)
      </div>
    </div>
    <main class="content center">
      <h2>Enter a username</h2>
      <form id="form" method="POST" action="/auth/username" class="center">
        <mdui-text-field
          type="text"
          id="username"
          name="username"
          autocomplete="username webauthn"
          label="username"
          autofocus></mdui-text-field>
        <input type="password" class="hidden" name="password" />
        <mdui-button type="submit">Next</mdui-button>
        <mdui-button href="/one-button" variant="text">Use one button sign-in instead</mdui-button>
      </form>
    </main>
    <script type="module">
      import { $, post, loading, authenticate } from '/client.js';

      const form = $('#form');
      // When the form is submitted, proceed to the password form.
      form.addEventListener('submit', async s => {
        s.preventDefault();
        const form = new FormData(s.target);
        const cred = {};
        form.forEach((v, k) => cred[k] = v);
        loading.start();
        post(s.target.action, cred)
        .then(user => {
          location.href = '/reauth';
        }).catch(e => {
          console.error(e);
          alert(e.message);
        }).finally(() => {
          loading.stop();
        });
      });

      // Feature detection: check if WebAuthn and conditional UI are supported.
      if (window.PublicKeyCredential) {
        try {
          const capabilities = await PublicKeyCredential.getClientCapabilities();
          if (capabilities.conditionalGet) {
            // If a conditional UI is supported, invoke the conditional `authenticate()` immediately.
            const user = await authenticate(true);
            if (user) {
              // When the user is signed in, redirect to the home page.
              $('#username').value = user.username;
              loading.start();
              location.href = '/home';
            } else {
              throw new Error('User not found.');
            }
          }
        } catch (e) {
          // `NotAllowedError` indicates a user cancellation.
          if (e.name !== 'NotAllowedError' && e.name !== 'AbortError') {
            alert(e.message);
          }
          console.error(e);
        } finally {
          loading.stop();
        }
      }

    </script>