    <div id="help">
      <div class="help-headline">
        One-button sign-in
      </div>
      <div class="help-content">
        Sign in with your passkey. If you haven't created a passkey yet, go back
        to the top page by clicking **Use form based sign-in instead** and
        follow the instructions to create one.

        ### Sign in with a passkey

        Press **Sign-in with passkey** and perform [user
        verification](https://web.dev/articles/webauthn-user-verification) to
        sign in with your passkey.
      </div>
    </div>
    <main class="content center">
      <h2>Choose your passkey to sign in</h2>
      <section class="center">
        <mdui-button id="passkey-signin" icon="key">Sign-in with passkey</mdui-button>
        <mdui-button variant="text" href="/">Use form based sign-in instead</mdui-button>
      </section>
    </main>
    <script type="module">
      import { $, post, loading, authenticate } from '/client.js';

      const redirect = (path) => {
        location.href = path;
      }

      if (window.PublicKeyCredential) {
        $('#passkey-signin').addEventListener('click', async e => {
          try {
            loading.start();
            const user = await authenticate();
            if (user) {
              redirect('/home');
            } else {
              throw new Error('User not found.');
            }
          } catch (e) {
            loading.stop();
            console.error(e);
            if (e.name !== 'NotAllowedError') {
              alert(e.message);
            }
          }
        });
      } else {
        alert("WebAuthn isn't supported on this browser. Redirecting to a form.")
        redirect('/');
      }

    </script>
