    <main class="content center">
      <h2>
        Enter a password
      </h2>
      <form id="form" method="POST" action="/auth/password" class="center">
        <input type="text" name="username" value="{{username}}" class="hidden"/>
        <div class="mdc-text-field mdc-text-field--filled">
          <span class="mdc-text-field__ripple"></span>
          <label class="mdc-floating-label" id="password-label">password</label>
          <input
            type="password"
            class="mdc-text-field__input"
            aria-labelledby="password-label"
            name="password"
            value="password"
            autocomplete="current-password"
            autofocus />
          <span class="mdc-line-ripple"></span>
        </div>
        <input type="submit" class="mdc-button mdc-button--raised" value="Sign-In" />
        <p class="instructions">password will be ignored in this demo.</p>
      </form>
    </main>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="module">
      import { $, _fetch } from '/client.js';
      new mdc.textField.MDCTextField($('.mdc-text-field'));
      
      // $('#code').addEventListener('click', e => {
      //   location.href = 'https://glitch.com/edit/#!/{{project_name}}';
      // });
      
      const form = $('#form');
      form.addEventListener('submit', e => {
        e.preventDefault();
        const form = new FormData(e.target);
        const cred = {};
        form.forEach((v, k) => cred[k] = v);
        _fetch(e.target.action, cred)
        .then(user => {
          location.href = '/home';
        })
        .catch(e => alert(e));
      });
    </script>
