<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script src="/base64url-arraybuffer.js"></script>
  </head>
  <body>
    <header>
      <h1>
        WebAuthn codelab
      </h1>
    </header>

    <main>
      <form id="form" method="POST" action="/auth/password" >
        <input type="hidden" name="username" value="{{username}}" />
        password (this will be ignored): <input type="password" name="password" value="" />
        <input type="submit" value="Sign-In" />
      </form>
    </main>
    <script type="module">
      import { _fetch, verifyAssertion } from '/client.js';
      const form = document.querySelector('#form');
      form.addEventListener('submit', e => {
        e.preventDefault();
        _fetch('/auth/password', new FormData(e.target))
        .then(user => {
          location.href = '/home';
        })
        .catch(e => {
          alert(e.error);
        });        
      });

      verifyAssertion({}).then(user => {
        if (user) {
          location.href = '/home';
        }
      }).catch(e => {
        alert(e);
      });
    </script>
  </body>
</html>
