/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 16px;
}

.public-key {
  font-family: monospace;
}

.credential {
  margin: 10px 0 20px 0;
  padding: 10px;
}